/*Home */

.header {
  background-image: url("https://cdn.pixabay.com/photo/2012/12/16/11/18/celebration-70199_960_720.jpg"); 
  background-size : 100%; 
  background-repeat: no-repeat;
  font-family: 'Handlee', cursive;
}

.borderTitle { 
  color : white;
  text-align: center;
  padding: 5% 7% 7% 7%;
}

.headerTitle {
  font-size : 3rem; 
  text-align: center;
}

.headerText {
  font-size : 1.5rem;
  text-align: center;
}
@media screen and (max-width: 580px) {
  .headerTitle, .headerText {
    font-size: 1rem;
  }
}

@media (min-width: 581px) and (max-width: 768px) {
  .headerTitle, .headerText {
    font-size: 1.3rem;
  }
}

.charactersImg {
  border-radius : 100%; 
  width: 15rem; 
  height : 15rem;
}

.btnTryAgain {
  margin-top : 2rem; 
  margin-bottom: 2rem; 
  text-align : center; 
}

.btnLetsGo {
  margin-top : 2rem; 
  margin-bottom: 2rem; 
  text-align : center; 
}
